## Git & tools
.git
.github
.gitattributes
.gitignore
/Makefile
/docker-compose.yml

## IDEs
.idea
.vscode

## Configs
.editorconfig
/.codecov.yml
/.golangci.yml

## Assets
/assets
/web/dist
/webhook-tester

## Vendor
/web/node_modules
/web/src/api/schema.ts

## Temp
/test
/temp
/tmp

## etc
/*.md
/*.env
/web/*.log
.DS_Store
*.cache
*.out
