{{/* https://github.com/oapi-codegen/oapi-codegen/blob/main/pkg/codegen/templates/constants.tmpl */}}

{{/* --- ORIGINAL CODE BEGIN --- */}}
{{- if and (gt (len .SecuritySchemeProviders) 0) opts.Compatibility.EnableAuthScopesOnContext }}
const (
{{range $Provider := .SecuritySchemeProviders}}
	{{- if $Provider.ImportedScopes}}
	{{- $Provider.Name | sanitizeGoIdentity | ucFirst}}Scopes = {{$Provider.ImportedScopes}}
	{{- else}}
	{{- $Provider.Name | sanitizeGoIdentity | ucFirst}}Scopes {{$Provider.Name | schemaNameToTypeName | lcFirst}}ContextKey = "{{$Provider.Name}}.Scopes"
	{{- end}}
{{end}}
)
{{end}}

{{range $Enum := .EnumDefinitions}}
// Defines values for {{$Enum.TypeName}}.
const (
{{range $name, $value := $Enum.GetValues}}
	{{$name}} {{$Enum.TypeName}} = {{if $Enum.ValueWrapper}}{{$value | toGoString}}{{else}}{{$value}}{{end -}}
{{end}}
)
{{/* --- ORIGINAL CODE END --- */}}

// Validate checks if the value of {{ $Enum.TypeName }} is in the set of defined values.
func (v {{ $Enum.TypeName }}) Validate() error {
	switch v {
	case {{ $first := true -}}
	{{- range $name, $value := $Enum.GetValues -}}
		{{- if $first -}}
			{{ $first = false -}}
		{{- else -}}
			,
		{{ end -}}
		{{- $name -}}
	{{- end -}}:
		return nil
	default:
  	{{- /* ErrValidationFailed defined in param-types.tmpl file */}}
		return wrapValidationError(fmt.Errorf("invalid value '%v'", v))
	}
}
{{end}}
