{{/* https://github.com/oapi-codegen/oapi-codegen/blob/main/pkg/codegen/templates/request-bodies.tmpl */}}

// Request body structs generating disabled via template configuration (request-bodies.tmpl) due to code duplication.
